.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.class {
    display: block;
    overflow: hidden;
    text-align: center
    }
.class1 {
    height: auto;
    width: 100%
    }
.class2 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 2.0628em;
    text-align: center
    }
.class3 {
    display: block;
    margin-top: 2em
    }
.class4 {
    display: block;
    margin-top: 0.5em
    }
.class5 {
    display: block;
    margin-left: 17.188%;
    margin-top: 0.5em;
    text-indent: -17.187%
    }
.class6 {
    text-indent: -17.187%
    }
.class7 {
    display: block;
    margin-top: 0.6em
    }
.class8 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0.999167em;
    margin-top: 1.99834em;
    text-indent: 1.075em;
    word-spacing: 0
    }
.class9 {
    display: block;
    margin-bottom: 1em;
    text-align: center
    }
.class10 {
    height: auto;
    letter-spacing: 0;
    width: 51.028%;
    word-spacing: 0
    }
.class11 {
    display: block;
    letter-spacing: 0;
    text-indent: 1.667em;
    word-spacing: 0
    }
.class12 {
    font-style: italic
    }
.class13 {
    display: block;
    font-style: italic;
    letter-spacing: 0;
    text-indent: 1.667em;
    word-spacing: 0
    }
.class14 {
    display: block;
    letter-spacing: 0;
    margin-top: 0.7125em;
    text-indent: 1.667em;
    word-spacing: 0
    }
.class15 {
    display: block;
    font-style: italic;
    letter-spacing: 0;
    margin-top: 0.7125em;
    text-indent: 1.667em;
    word-spacing: 0
    }
.class16 {
    display: block;
    margin-left: 5.208%;
    text-align: center
    }
.class17 {
    height: auto;
    width: 25%
    }
.class18 {
    display: block;
    margin-top: 1em;
    text-align: center;
    text-indent: 1.667em
    }
.class19 {
    display: block;
    text-align: center;
    text-indent: 1.667em
    }
.class20 {
    display: block;
    letter-spacing: 0;
    margin-top: 1em;
    text-indent: 1.667em;
    word-spacing: 0
    }
.class21 {
    display: block;
    font-size: 1em;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0 5pt
    }
.class22 {
    height: 100%;
    line-height: 1.201;
    max-width: 100%;
    width: auto
    }
